body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.balance-card {
    background: white;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.balance-card h2 {
    margin: 0;
    color: #555;
}

.balance-card p {
    font-size: 32px;
    font-weight: bold;
    color: green;
}

.cards {
    display: flex;
    gap: 15px;
    width: 85%;
    margin: 20px auto;
}

.income-card,
.expense-card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.income-card {
    border-left: 5px solid green;
}

.expense-card {
    border-left: 5px solid red;
}

.income-card h3 {
    color: green;
}

.expense-card h3 {
    color: red;
}

.form-card {
    background: white;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.form-card input,
.form-card select {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.form-card button {
    width: 90%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
.history-card {
    background: white;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2563eb;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
