* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fc;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #1e293b;
}

.balance-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.balance-card h2 {
    color: #64748b;
    margin-bottom: 10px;
}

.balance-card p {
    font-size: 32px;
    font-weight: bold;
    color: #16a34a;
}

.cards {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.income-card,
.expense-card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.income-card {
    border-left: 5px solid #16a34a;
}

.expense-card {
    border-left: 5px solid #dc2626;
}

.income-card h3 {
    color: #16a34a;
}

.expense-card h3 {
    color: #dc2626;
}

.form-card,
.history-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.form-card h2,
.history-card h2 {
    margin-bottom: 15px;
    color: #1e293b;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
}

.form-card button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2563eb;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.form-card button:hover {
    background: #1d4ed8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2563eb;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #e2e8f0;
    text-align: center;
}

td button {
    background: #dc2626;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}


td button:hover {
    background: #b91c1c;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}
#expenseChart {
    max-width: 400px;
    margin: 20px auto;
}
